body {
  background-color: #f9f9f9;
  font-family: Arial, Helvetica, sans-serif;
}

#calendar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.fc-event {
  background-color: #003763 !important;
  color: white !important;
  border-radius: 6px !important;
}
